@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Oswald';
}

* {
  box-sizing: border-box;
}

canvas {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
}

#time-travel{
  position: absolute;
  left: 50%;
  top: 91%;
  transform: translate(-50%);
  appearance: none;
  width: 1000px;
  height: 30px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
}

#time-travel::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 1;
    border: none;
    height: 52px;
    width: 52px;
    background: goldenrod;
    background: url('../img/clock_icon_smile_sml.png') no-repeat;
    border-radius: 0;
}

.console {
  padding: 0.5rem;
  background-color: darkslategray;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%);
  width: 1000px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
}

.inventory {
  background-color: chartreuse;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  flex-grow: 0.3;
  max-width: 220px;
  min-width: 220px;
}

.inventory .row {
  background-color: burlywood;
  justify-content: space-evenly;
  flex: 1;
  display: flex;
  flex-direction: row;

}

.item {
  padding: 0.1rem;
  /*margin: 0 0.3rem;*/
  border: 1px solid black;
  flex: 1;
}

#faceDiv {
  padding: 0.6rem;
  background-color: black;
  overflow:hidden;
  max-width: 8rem;
  min-width: 130px;
}

#faceDiv img {
  object-fit: cover;
  object-position: 0% 0%;

  width: 476px;
  height: 190px;
}

#dialog {
  padding: 0.5rem;
  background-color: black;
  color: white;
  flex-grow: 1;
  overflow: hidden;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1rem;
}

.triloClean {
  background-image: url("../img/triloCleanM.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.triloFossil {
  background-image: url("../img/triloM.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.timeClock {
  background-image: url("../img/timeClockM.png");
  background-repeat: no-repeat;
  background-size: cover;
}